html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornsilk;
}

header{
    background-color: antiquewhite;
    opacity: 0.5    ;
}

header .navigation{
    list-style: none;
    display: inline-flex;
}

header .navigation li a {
    text-decoration: none;
    color: black;
    padding: 0% 1em;
}

#about{
    
    margin-bottom: 1em;
}
#about .title{
    padding-top: 6rem;
    padding-bottom: 30%;
    background-image: url("Images/aboutbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2em;
}

#about h1 {
    background-color: antiquewhite;
    text-align: center;
    max-width: 50%;
    margin: 0px auto;
    border-radius: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about .mission{
    background-color: bisque;
    padding: 1em 0;
    border-radius: 1em;
    text-align: center;
    min-width: 10%;
    max-width: 50%;
    margin: 1em auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.AboutBack{
    background-image: url("Images/michael-dziedzic-qDG7XKJLKbs-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50em;
    display: flex;
    align-items: center;
    border-radius: 2em;
}

.aboutsec{
    background-color: rgb(199, 185, 171);
    font-family: cursive;
    border-radius: 1em;
    width: 75%;
    margin: 0 auto;
    
    
}

.aboutsec p{
    padding: 0.5em 2em;
}

#Contact{
    background-color: rgb(218, 185, 143);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    margin-top: 10em;
}

#Contact h2{
    font-weight: bold;
    margin: 0 1em;
    padding: 1em 0 2em 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

#Contact .contactsec{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font-weight: 16px;

}

footer {
    background-color: rgb(221, 209, 98);
    padding: 0.5em;
    border-radius: 1em;
    margin-top: 1em;
}